<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
        {% with messages = get_flashed_messages() %}
            {% for msg in messages %}
                <p class="error">{{ msg }}</p>
            {% endfor %}
        {% endwith %}
        <form method="POST">
            <div class="login-input">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
            </div>                   
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>
